@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 40px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(171, 170, 167, 0.3);
}

ul {
    list-style: none;
}

button {
    margin-left: 10px;
}

#fact {
    color: rgb(9, 33, 74);
    font-weight: bold;
}
#givenNumber {
    text-decoration: underline;
    font-weight: bold;
}